.outerDiv {
  display: flex; 
  flex-direction: column; 
  margin: 1.3rem 1.5rem;
  padding: 0.4rem 0.8rem;
  max-height: 275px;
  overflow-y: scroll;
  border-radius: 8px; 
  background-color: #65b7f3;
  box-shadow: 2px 3px 4px #111d2c;
  font-family: 'Libre Caslon Text', serif;
}

.outerDiv::-webkit-scrollbar {
  display: none;
}

.outerDiv1 {
  display: flex; 
  flex-direction: column; 
  margin: 1.3rem 1.5rem 0.5rem;
  padding: 0.4rem 0.8rem;
  height: 425px;
  max-height: 4250px;
  overflow-y: scroll;
  border-radius: 8px; 
  background-color: #65b7f3;
  box-shadow: 2px 3px 4px #111d2c;
}

.outerDiv1::-webkit-scrollbar {
  display: none;
}


.antBtn {
  padding: 0;
}

.details1 {
  margin-bottom: 0;
  font-weight: bold;
}

.details2 {
  margin-bottom: 0;
  font-weight: normal;
}

.messageBar {
  width: 700px;
  margin-top: 1rem;
  padding: 10px;
}

.messageBarDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}