.outerDiv {
  display: flex; 
  flex-direction: column; 
  margin: 1.3rem 1.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 8px; 
  background-color: #e8f2fb;
  box-shadow: 2px 3px 4px #111d2c54;
  transition: 0.4s ease;
}

.outerDiv:hover {
  transform: scale(1.01);
}

.antBtn {
  padding: 0;
}

.details1 {
  margin-bottom: 0;
  font-size: medium;
  color:#103456;
}

.details2 {
  margin-bottom: 0;
  font-size: small;
  color:#103456;
}